.label {
  background-color: var(--colors-ui-base);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;

  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
  margin-bottom: 1.5rem;

  @media (min-width: 767px) {
    margin-bottom: 0;
    width: 280px;
  }
}

.input {
  border: none;
  outline: none;
  margin-left: 2rem;
  color: var(--colors-text);
  background-color: var(--colors-ui-base);
}
